

body
{
    background-image: url("/static/img/background_v2.jpg");
    background-attachment:fixed;
    background-size:cover;
    }

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 500px;
}

.Absolute-Center {
    width:75%;
    margin:0 auto;
    width:50%;
    min-width:645px;
    margin-top:30px;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.attnBlock {
 border: 1px solid #000000;
 height: 300px;
 background-color: #FFFFFF;
}

.tableBlock {
	background-color:#2C332F;
    margin-top: 15px;

    padding-bottom: 15px;
}

.tableheading {
	color: white;
    height:30px;
    background-color: #181919;
    border-bottom: 4px solid gray;
}


.tabledataentry {
	border-top: 1px solid rgba(211, 211, 211, 0.37);
    border-bottom: 1px solid rgba(211, 211, 211, 0.37);
    color: white;
    background-color: #003333;
}

.tabledataentry-time {
	position: relative;
    top:-10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #000000;
}

.detailsRow {
    color: white;
}

.rightAlign {
    text-align: right;
}

.positiveAmount {
    color: green;
}

.negativeAmount {
    color: red;
}