{% extends "template.html" %}
{% block head %}
{% endblock %}

{% block content %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger" role="alert">
          <a class="close" href="#">×</a>
          <ul>
            {%- for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor -%}
          </ul>
        </div>
        {% endif %}
        {% endwith %}

        {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
        <div class="alert alert-success" role="alert">
          <a class="close" href="#">×</a>
          <ul>
            {%- for msg in successes %}
            <li>{{ msg }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    {% endwith %}
<div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px">
    <div class="panel" style="border:0px;">
        <div class="panel-heading" style="background-color:#181919;color:white;"><h1>Blueprints</h1><small>Time Until Cache Refresh: {{cacheTimerRemaining|hms_format}}</small></div>
        <div class="panel-body" style="background-color:#2C332F;color:white;">
            <input type="search" id="search" name="search" class="form-control" placeholder="Search For Blueprint Name... (Min 3 Characters)" onkeyup="myFunction()"><br>
            <table class="table" id="table">
            <thead>
              <tr>
                  <th></th>
                  <th>Blueprint Name</th>
                  <th>Type</th>
                  <th>ME</th>
                  <th>TE</th>
                  <th>Research Status</th>
                  <th>Owner</th>
                  <th>Location</th>
                  <th>Options</th>
              </tr>
            </thead>
                <tbody>
                {% for bp in bpList | sort(attribute='typeID') %}
                <tr>
                    <td><img src="https://image.eveonline.com/Type/{{bp.typeID}}_32.png"></td>
                    <td>{{bp.typeID|typeIDtoTypeName}}</td>
                    <td>{% if bp.quantity == -2 %}<span class="label label-success">BPC</span>{% else %}<span class="label label-primary">BPO</span>{% endif %}</td>
                    <td>{{bp.materialEfficiency}}</td>
                    <td>{{bp.timeEfficiency}}</td>
                    <td>{% if bp.materialEfficiency == 10 and bp.timeEfficiency == 20 %}<span class="label label-success">Researched</span>{% elif bp.materialEfficiency == 0 and bp.timeEfficiency == 0 %}<span class="label label-danger">Unresearched</span>{% else %}<span class="label label-warning">Incomplete</span>{% endif %}</td>
                    <td>{% if bp.type == "char" %}<span class="label label-primary">sessionData['auth_user']['name']</span>{% else %}<span class="label label-success">Corporation</span></td>{% endif %}
                    <td>{{bp.locationID|getStationName}}</td>
                    <td><a href="/packages/new?blueprintID={{bp.itemID}}"><button type="button" class="btn btn-primary">Build</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}