{% extends "template.html" %}
{% block head %}
{% endblock %}

{% block title %}New Package{% endblock %}
{% block content %}

<div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px;">
    <div class="col-md-8">
        <div class="row">
            <div class="panel" style="border:0px;">
                <div class="panel-heading clearfix" style="background-color:#181919;color:white;">
                    <h3 class="panel-title"><b>New Package Configuration</b></h3>
                </div>
                <div class="panel-body" style="background-color:#2C332F;color:white;padding-left:20px;padding-right:20px;padding-bottom:20px;">
                    <BASE HREF="http://eme3.divby0.net:52382/packages/new">
                    <form action="" method="get">
                        <button name="action" type="submit" value="refresh" class="btn btn-primary text-right" onclick="showWaitDialog()">Refresh</button>
                        <button name="action" type="submit" value="createPackage" class="btn btn-primary text-right"  onclick="showWaitDialog()">Create New Package</button><br><br>
                    <b>Blueprint:</b> <select name="blueprintID" onChange="showWaitDialog();this.form.submit()" class="form-control form-inline selectpicker" data-live-search="true" id="blueprintID">
                        {% for bp in ownedBlueprints %}
                            {% if ((bp.quantity == -1) or (bp.quantity > 0)) %}
                                {% if selectedBP == bp.itemID %}
                                    <option selected value={{bp.itemID}} data-content="<span class='label label-primary'>BPO</span> {{bp.typeID|typeIDtoTypeName}} - <small>ME: {{bp.materialEfficiency}} TE: {{bp.timeEfficiency}}</small>" data-subtext="ME: {{bp.materialEfficiency}} TE: {{bp.timeEfficiency}}">{{bp.typeID|typeIDtoTypeName}}</option>
                                {% else %}
                                    <option value={{bp.itemID}} data-content="<span class='label label-primary'>BPO</span> {{bp.typeID|typeIDtoTypeName}} - <small>ME: {{bp.materialEfficiency}} TE: {{bp.timeEfficiency}}</small>" data-subtext=" ME: {{bp.materialEfficiency}} TE: {{bp.timeEfficiency}}">{{bp.typeID|typeIDtoTypeName}}</option>
                                {% endif %}

                            {% elif ((bp.quantity == -2)) %}
                                {% if selectedBP == bp.itemID %}
                                    <option selected value={{bp.itemID}} data-content="<span class='label label-success'>BPC</span> {{bp.typeID|typeIDtoTypeName}} - <small>ME: {{bp.materialEfficiency}} TE: {{bp.te}}</small> Runs: {{bp.runs}}" data-subtext="ME: {{bp.materialEfficiency}} TE: {{bp.timeEfficiency}} Runs: {{bp.runs}}">{{bp.typeID|typeIDtoTypeName}}</option>
                                {% else %}
                                    <option value={{bp.itemID}} data-content="<span class='label label-success'>BPC</span> {{bp.typeID|typeIDtoTypeName}} - <small>ME: {{bp.materialEfficiency}} TE: {{bp.te}}</small> Runs: {{bp.runs}}" data-subtext="ME: {{bp.materialEfficiency}} TE: {{bp.timeEfficiency}} Runs: {{bp.runs}}">{{bp.typeID|typeIDtoTypeName}}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>

                    <b>Runs:</b> <input type="number" name="runs" value="{{builtPackage['runs']}}" class="form-control form-inline">

                    <b>Activity Solar System:</b><br>
                    <select name="solarSystemID" onChange="this.form.submit()" class="form-control chosen-select" style="width=100%;">
                        {% for system in solarSystems %}
                            {% if system.solarSystemID == builtPackage['systemID'] %}
                                <option selected value={{system.solarSystemID}}>{{system.solarSystemName}}</option>
                            {% else %}
                                <option value={{system.solarSystemID}}>{{system.solarSystemName}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <b>Usage Tax (%):</b> <input type="number" name="stationTax" value="{{ builtPackage['stationTax'] * 100}}" step=".01" class="form-control form-inline">

                    <b>Mineral Facility Modifier:</b>
                    <input type="number" name="mFacilityModifier" value="{{builtPackage['facilityMEModifier']}}" step=".01" class="form-control form-inline">
                    <p class="help-block">Ex: NPC Facilities: 1, POS Array: .98, Rapid Assembly Array: 1.05</p>
                    <b>Time Facility Modifier</b>
                    <input type="number" name="tFacilityModifier" value="{{builtPackage['facilityTEModifier']}}" step=".01" class="form-control form-inline">
                    <b>Industry Skill:</b>
                        {% if skills['industry'] == 1 %}
                            <input type="radio" name="industrySkill" value=1 checked="checked" /> I
                        {% else %}
                            <input type="radio" name="industrySkill" value=1> I
                        {% endif %}
                        {% if skills['industry'] == 2 %}
                            <input type="radio" name="industrySkill" value=2 checked="checked" /> II
                        {% else %}
                            <input type="radio" name="industrySkill" value=2> II
                        {% endif %}
                        {% if skills['industry'] == 3 %}
                            <input type="radio" name="industrySkill" value=3 checked="checked" /> III
                        {% else %}
                            <input type="radio" name="industrySkill" value=3> III
                        {% endif %}
                        {% if skills['industry'] == 4 %}
                            <input type="radio" name="industrySkill" value=4 checked="checked" /> IV
                        {% else %}
                            <input type="radio" name="industrySkill" value=4> IV
                        {% endif %}
                        {% if skills['industry'] == 5 %}
                            <input type="radio" name="industrySkill" value=5 checked="checked" /> V
                        {% else %}
                            <input type="radio" name="industrySkill" value=5> V
                        {% endif %}
                    <br>
                    <b>Adv Industry Skill:</b>
                        {% if skills['advIndustry'] == 1 %}
                            <input type="radio" name="advIndustrySkill" value=1 checked="checked" /> I
                        {% else %}
                            <input type="radio" name="advIndustrySkill" value=1> I
                        {% endif %}
                        {% if skills['advIndustry'] == 2 %}
                            <input type="radio" name="advIndustrySkill" value=2 checked="checked" /> II
                        {% else %}
                            <input type="radio" name="advIndustrySkill" value=2> II
                        {% endif %}
                        {% if skills['advIndustry'] == 3 %}
                            <input type="radio" name="advIndustrySkill" value=3 checked="checked" /> III
                        {% else %}
                            <input type="radio" name="advIndustrySkill" value=3> III
                        {% endif %}
                        {% if skills['advIndustry'] == 4 %}
                            <input type="radio" name="advIndustrySkill" value=4 checked="checked" /> IV
                        {% else %}
                            <input type="radio" name="advIndustrySkill" value=4> IV
                        {% endif %}
                        {% if skills['advIndustry'] == 5 %}
                            <input type="radio" name="advIndustrySkill" value=5 checked="checked" /> V
                        {% else %}
                            <input type="radio" name="advIndustrySkill" value=5> V
                        {% endif %}
                    <br>
                    <b>Time Implant Modifier:</b>
                        {% if tImplantModifier == 1 %}
                            <input type="radio" name="tImplantModifier" value=1 checked="checked" /> None
                        {% else %}
                            <input type="radio" name="tImplantModifier" value=1> None
                        {% endif %}
                        {% if tImplantModifier == 0.99 %}
                            <input type="radio" name="tImplantModifier" value=.99 checked="checked" /> BX-801 (1%)
                        {% else %}
                            <input type="radio" name="tImplantModifier" value=.99> BX-801 (1%)
                        {% endif %}
                        {% if tImplantModifier == 0.98 %}
                            <input type="radio" name="tImplantModifier" value=.98 checked="checked" /> BX-802 (2%)
                        {% else %}
                            <input type="radio" name="tImplantModifier" value=.98> BX-802 (2%)
                        {% endif %}
                        {% if tImplantModifier == 0.96 %}
                            <input type="radio" name="tImplantModifier" value=.96 checked="checked" /> BX-803 (4%)
                        {% else %}
                            <input type="radio" name="tImplantModifier" value=.96> BX-803 (4%)
                        {% endif %}
                        </div>
                    </form>
                </div>
            </div>

        <div class="row">
            <div class="panel" style="border:0px;">
                <div class="panel-heading" style="background-color:#181919;color:white;"><h3 class="panel-title"><b>Material Requirements</b></h3></div>
                <div class="panel-body" style="background-color:#2C332F;color:white;padding-left:20px;">
                    <TABLE class="table table-hover">
                    <TR>
                        <TH>Component</TH>
                        <TH>Qty</TH>
                        <TH>Price</TH>
                        <TH>Cost</TH>
                    </TR>
                    {% for material in builtPackage['materials'] %}
                    <TR>
                        <TD><img src="https://image.eveonline.com/Type/{{material['typeID']}}_32.png"> {{material['typeID']|typeIDtoTypeName}}</TD>
                        <TD>{{material['quantity']}}</TD>
                        <TD>{{material['pricePer']|currency_format}}</TD>
                        <TD>{{material['requirementCost']|currency_format}}</TD>
                    </TR>
                    {% endfor %}
                    </TABLE>
                    <div class="col-md-6">
                        <div>
                            <div>
                                <H3 class="panel-title"><b>Material Requirement Breakdown Chart</b></H3>
                            </div>
                            <div>
                                <canvas id="MaterialBreakdown" width="400" height="350"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div>
                                <H3 class="panel-title"><b>Material Cost Breakdown Chart</b></H3>
                            </div>
                            <div>
                                <canvas id="CostBreakdown" width="400" height="350"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div>
            <div class="panel" style="border:0px;">
                <div class="panel-heading" style="background-color:#181919;color:white;">
                    <H3 class="panel-title"><b>BP Info</b></H3>
                </div>
                <div class="panel-body" style="background-color:#2C332F;color:white;padding-left:20px;">
                    <div class="row">
                        <div class="col-sm-5">
                            <b>Result:</b>
                        </div>
                        <div class="col-sm-7">
                            <img src="https://image.eveonline.com/Type/{{builtPackage['products'][0]['typeID']}}_32.png"> <b>{{ builtPackage['products'][0]['typeID']|typeIDtoTypeName }}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <b>Qty:</b>
                        </div>
                        <div class="col-sm-7">
                        <b>{{ builtPackage['products'][0]['quantity']}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <b>ME:</b>
                        </div>
                        <div class="col-sm-7">
                            <b>{{builtPackage['me']}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <b>TE:</b>
                        </div>
                        <div class="col-sm-7">
                            <b>{{builtPackage['te']}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <b>Time (D:H:M:S):</b>
                        </div>
                        <div class="col-sm-7">
                            <b>{{builtPackage['buildTime']|hms_format}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="panel" style="border:0px;">
                <div class="panel-heading" style="background-color:#181919;color:white;">
                    <H3 class="panel-title"><b>System Activity Information</b></H3>
                </div>
                <div class="panel-body" style="background-color:#2C332F;color:white;padding-left:20px;">
                <div class="row">
                     <div class="col-sm-5">
                         <b>System Name:</b>
                     </div>
                     <div class="col-sm-7">
                         <b>{{ builtPackage['systemID'] | systemIDtoSystemName }}</b>
                     </div>
                 </div>
                <div class="row">
                    <div class="col-sm-5">
                        <b>System Index:</b>
                    </div>
                    <div class="col-sm-7">
                        <b>{{ builtPackage['systemIndex'] }}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <b>Usage Tax:</b>
                    </div>
                    <div class="col-sm-7">
                        <b>{{ builtPackage['stationTax'] * 100}}%</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <b>Station Tax:</b>
                    </div>
                    <div class="col-sm-7" style="color:red;">
                        <b>{{ (builtPackage['stationTax'] * builtPackage['totalFees'])|currency_format}}</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <b>Activity Fee:</b>
                    </div>
                    <div class="col-sm-7" style="color:red;">
                        <b>{{ builtPackage['totalFees']|currency_format }}</b>
                    </div>
                </div>
             </div>
         </div>

        <div class="panel" style="border:0px;">
            <div class="panel-heading" style="background-color:#181919;color:white;">
                <H3 class="panel-title"><b>Cost/Price Analysis</b></H3>
            </div>

            <div class="panel-body" style="background-color:#2C332F;color:white;padding-left:20x;">
               <div class="row">
                    <div class="col-sm-5">
                        <b>Product Price:</b>
                    </div>
                    <div class="col-sm-7" style="color:green;">
                        <b>{{ builtPackage['totalSalePrice']|currency_format }}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <b>Component Cost</b>
                    </div>
                    <div class="col-sm-7" style="color:red;">
                        <b>{{builtPackage['totalMaterialCost']|currency_format}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <b>Station Tax:</b>
                    </div>
                    <div class="col-sm-7" style="color:red;">
                        <b>{{ (builtPackage['stationTax'] * builtPackage['totalFees'])|currency_format}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <b>Activity Fee:</b>
                    </div>
                    <div class="col-sm-7" style="color:red;">
                        <b>{{ builtPackage['totalFees']|currency_format }}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <b>Sales Tax ({{builtPackage['salesTax']*100}}%):</b>
                    </div>
                    <div class="col-sm-7" style="color:red;">
                        <b>{{ (builtPackage['totalSalePrice']*builtPackage['salesTax'])|currency_format}}</b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <b>Total Cost:</b>
                    </div>
                    <div class="col-sm-7" style="color:red;">
                        <b>{{ ((builtPackage['totalFees'] + builtPackage['totalMaterialCost'])+ (builtPackage['totalSalePrice']*builtPackage['salesTax']) + (builtPackage['stationTax'] * builtPackage['totalFees']))|currency_format }}</b>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-5">
                        <b>Profit:</b>
                    </div>
                    <div class="col-sm-7" {% if builtPackage['expectedProfit'] >= 0 %} style="color:green;" {% else %} style="color:red;" {% endif %}>
                        <b>{{builtPackage['expectedProfit']|currency_format}}</b>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>

<script>
    var ctx = document.getElementById("MaterialBreakdown");
    var MaterialBreakdownChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for material in builtPackage['materials'] %}"{{material['typeID']|typeIDtoTypeName}}",{% endfor %}],
            datasets: [{
                data: [{% for material in builtPackage['materials'] %}{{material['quantity']}},{% endfor %}],
                backgroundColor: [{% for material in builtPackage['materials'] %} "{{generateRandomColor()}}", {% endfor %}],
                borderWidth: 0
            }]
        },
    });
</script>

<script>
    var ctx = document.getElementById("CostBreakdown");
    var CostBreakdownChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for material in builtPackage['materials'] %}"{{material['typeID']|typeIDtoTypeName}}",{% endfor %}],
            datasets: [{
                data: [{% for material in builtPackage['materials'] %}{{material['requirementCost']}},{% endfor %}],
                backgroundColor: [{% for material in builtPackage['materials'] %} "{{generateRandomColor()}}", {% endfor %}],
                borderWidth: 0
            }]
        },
    });
</script>

{% endblock %}