{% extends "template.html" %}
{% block title %}Main{% endblock %}

{% block content %}

    <div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px;">
        <div class="row">
            <div class="col-md-8">
            <div class="panel" style="border:0px;">
                <div class="panel-heading" style="background-color:#181919;color:white;"><h3 class="panel-title"><b>MOTD</b></h3></div>
                <div class="panel-body" style="background-color:#2C332F;color:white;">
                    <b>4/16/2017</b>
                    <ul>
                        <li>Integrated ESI Market Endpoints</li>
                    </ul>
                    <b>2/12/2017</b>
                    <ul>
                        <li>Added Package Creation and Lifecycle</li>
                        <li>Added Market Page w/ Historic Data Chart and Current Orders</li>
                        <li>Added Orders and Blueprints Page</li>
                    </ul>
                    <b>11/24/2016</b>
                    <ul>
                        <li>Completed XML Data Import</li>
                        <li>Added Basic Loading Screen During Data Refresh</li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="panel" style="border:0px;">
                    <div class="panel-heading" style="background-color:#181919;color:white;"><h3 class="panel-title"><b>Statistics</b></h3></div>
                    <div class="panel-body" style="background-color:#2C332F;color:white;">
                        <b>Current # of Users:</b> {{char_count}} <br>
                        <b># of Packages Tracking:</b> {{package_count}} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}