{% extends "template.html" %}
{% block head %}
{% endblock %}

{% block content %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger" role="alert">
          <a class="close" href="#">×</a>
          <ul>
            {%- for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor -%}
          </ul>
        </div>
        {% endif %}
        {% endwith %}

        {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
        <div class="alert alert-success" role="alert">
          <a class="close" href="#">×</a>
          <ul>
            {%- for msg in successes %}
            <li>{{ msg }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    {% endwith %}
<div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px">
    <div class="panel" style="border:0px;">
        <div class="panel-heading" style="background-color:#181919;color:white;"><h3>Industry Jobs</h3><small>Time Until Cache Refresh: {{cacheTimerRemaining|hms_format}}</small></div>
        <div class="panel-body" style="background-color:#2C332F;color:white;">
            <input type="search" id="search" name="search" class="form-control" placeholder="Search For A Job.. (Min 3 Characters)" onkeyup="myFunction()"><br>
            <table class="table" id="table">
            <thead>
              <tr>
                  <th>Icon</th>
                  <th>Name</th>
                  <th>Runs</th>
                  <th>Location</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Time Remaining</th>
                  <th>Status</th>
              </tr>
            </thead>
                <tbody>
                {% for job in jobList | sort(attribute='endDate') %}
                <tr>
                    <td><img src="https://image.eveonline.com/Type/{{job.productTypeID}}_32.png"></td>
                    <td>{{job.productTypeID|typeIDtoTypeName}}</td>
                    <td>{{job.runs}}</td>
                    <td>{{job.stationID|getStationName}}</td>
                    <td>{{job.startDate}}</td>
                    <td>{{job.endDate}}</td>
                    <td></td>
                    <td>{{job.status}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}