{% extends "template.html" %}
{% block title %}EME3 - Loading Data{% endblock %}

{% block content %}
<div class="center-div" style="color:white;">
    <h1>Loading Data.  Please Wait</h1>
    <div style="position:relative;left:125px;"><img src="/static/img/loading.gif" width="250px"></div>
</div>
<script>
    window.location = "{{URL}}";
</script>
{% endblock %}