{% extends "template.html" %}

{% block content %}

<div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px">
    <div class="panel" style="border:0px;">
        <div class="panel-heading" style="background-color:#181919;color:white;"><h3 class="panel-title"><b>Current Jobs for Package</b></h3></div>
        <div class="panel-body" style="background-color:#2C332F;color:white;">
            <form action="/packages/link" method="post">
            <div><input class="btn btn-primary" type="submit" value="Select"></input></div>
                <br>
            <input type="hidden" name="packageID" value="{{package.packageID}}">
            <input type="hidden" name="linkType" value="industry">
            <table class="table" style ="width:100%">
                <tr>
                    <th>Select</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Location</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Time Remaining</th>
                </tr>


                {% for job in jobs %}
                    {% if job.jobID not in linkedJobs %}
                        <tr>
                            <td><input type="checkbox" id="id_{{job.jobID}}" name="jobIDs" value="{{job.jobID}}"></td>
                            <td>{{job.blueprintTypeID|typeIDtoTypeName}}</td>
                            <td>{{job.runs}}</td>
                            <td>{{job.solarSystemID|systemIDtoSystemName}}</td>
                            <td>{{job.startDate}}</td>
                            <td>{{job.endDate}}</td>
                            <td>{{job.endDate-currentTime}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            </form>


        </div>
    </div>
</div>
{% endblock %}
