{% extends "template.html" %}
{% block content %}


<div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px">
    <div class="panel" style="border:0px;">
        <div class="panel-heading" style="background-color:#181919;color:white;"><h3 class="panel-title"><b>Current Orders for Package</b></h3></div>
        <div class="panel-body" style="background-color:#2C332F;color:white;">

            <form action="/packages/link" method="post">
                <div><input class="btn btn-primary" type="submit" value="Select"></input><br><br></div>
                <input type="hidden" name="packageID" value="{{package.packageID}}">
                <input type="hidden" name="linkType" value="market">
                <table class="table" style ="width:100%">
                <tr>
                    <th>Select</th>
                    <th>Item</th>
                    <th>Volume</th>
                    <th>Price</th>
                    <th>Solar System</th>
                    <th>Issued Date</th>
                </tr>


                {% for job in orders %}
                <tr>
                    <td><input type="checkbox" id="id_{{job.orderID}}" name="orderIDs" value="{{job.orderID}}"></td>
                    <td>{{job.typeID|typeIDtoTypeName}}</td>
                    <td>{{job.volRemaining}} /  {{job.volEntered}}</td>
                    <td>{{job.price|currency_format}}</td>
                    <td>{{(job.stationID|stationIDtoSolarSystemID)|systemIDtoSystemName}}</td>
                    <td>{{job.issued}}</td>
                </tr>
                {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}