{% extends "template.html" %}
{% block head %}
{% endblock %}

{% block content %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger" role="alert">
          <a class="close" href="#">×</a>
          <ul>
            {%- for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor -%}
          </ul>
        </div>
        {% endif %}
        {% endwith %}

        {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
        <div class="alert alert-success" role="alert">
          <a class="close" href="#">×</a>
          <ul>
            {%- for msg in successes %}
            <li>{{ msg }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    {% endwith %}
<div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px">
    <div class="panel" style="border:0px;">
        <div class="panel-heading" style="background-color:#181919;color:white;"><h3>Market Orders</h3><small>Time Until Cache Refresh: {{cacheTimerRemaining|hms_format}}</small></div>
        <div class="panel-body" style="background-color:#2C332F;color:white;">
            <input type="search" id="search" name="search" class="form-control" placeholder="Search For An Order.. (Min 3 Characters)" onkeyup="myFunction()"><br>
            <table class="table" id="table">
            <thead>
              <tr>
                  <th>Icon</th>
                  <th>Name</th>
                  <th>Order Type</th>
                  <th>Volume Remaining</th>
                  <th>Volume Entered</th>
                  <th>Price</th>
                  <th>Lowest Sell Price in System</th>
                  <th>Location</th>
                  <th>Escrowed</th>
                  <th>Issued</th>
              </tr>
            </thead>
                <tbody>
                {% for order in marketOrders | sort(attribute='typeID') %}
                <tr>
                    <td><img src="https://image.eveonline.com/Type/{{order.typeID}}_32.png"></td>
                    <td>{{order.typeID|typeIDtoTypeName}}</td>
                    <td>{% if order.bid == False %}<span class="label label-success">Sell</span>{% else %}<span class="label label-primary">Buy</span>{% endif %}</td>
                    <td>{{order.volRemaining}}</td>
                    <td>{{order.volEntered}}</td>
                    <td>{{order.price|currency_format}}</td>
                    <td>{{(getSellPriceforSystem(order.typeID,(order.stationID|stationIDtoSolarSystemID)))|currency_format}}</td>
                    <td>{{(order.stationID|stationIDtoSolarSystemID)|systemIDtoSystemName}}</td>
                    <td>{{order.escrow|currency_format}}</td>
                    <td>{{order.issued}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}