{% extends "template.html" %}
{% block head %}
<script src="/static/js/sorttable.js"></script>
{% endblock %}

{% block content %}

<style>
    table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after
    {
        content: " \25B4\25BE"
    }
</style>

<div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px;">
    <div class="panel" style="border:0px;">
        <div class="panel-heading" style="background-color:#181919;color:white;"><h3 class="panel-title"><b>Historical Market Data</b></h3></div>
        <div class="panel-body" style="background-color:#2C332F;color:white;padding-left:20px;padding-right:20px;padding-bottom:20px;">
            <form action="/market">
                <div class="col-xs-3">
                    <select name="typeID" class="marketPriceHistory-select2 form-control" width="400px">
                        {% for item in productList %}
                        <option value={{item}} {% if item == selectedTypeID %} selected {% endif %}>{{item|typeIDtoTypeName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-2">
                    <select name="lastXDays" class="form-control" width="400px">
                        <option value=30 {% if lastXDays == 30 %} selected {% endif %}>Last 30 Days</option>
                        <option value=90 {% if lastXDays == 90 %} selected {% endif %}>Last 90 Days</option>
                        <option value=180 {% if lastXDays == 180 %} selected {% endif %}>Last 180 Days</option>
                        <option value=365 {% if lastXDays == 365 %} selected {% endif %}>Last 365 Days</option>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Change" onclick="showWaitDialog()">
            </form>
            <br>
            <div class="panel panel-primary" style="border:0px;">
                <div class="panel-heading" style="background-color:#2C332F;color:white;padding-left:20px;padding-right:20px;padding-bottom:20px;"><h3 class="panel-title">{{selectedTypeID|typeIDtoTypeName}} - Avg Price Last {{lastXDays}} Days</b></h3></div>
                <div class="panel-body" style="background-color:#2C332F;color:white;padding-left:20px;padding-right:20px;padding-bottom:20px;">
                    <canvas id="marketPriceHistory" width="600" height="175"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" style="border:0px;">
    <div class="panel-heading"style="background-color:#181919;color:white;"><h3 class="panel-title"><b>Market Orders</b></h3></div>
       <div class="panel-body" style="background-color:#2C332F;color:white;padding-left:20px;padding-right:20px;padding-bottom:20px;">
           <div class="col-md-6">
               <div class="panel panel-primary" style="border:0px;">
                    <div class="panel-heading" style="background-color:#2C332F;color:white;padding-left:20px;padding-right:20px;padding-bottom:20px;"><h3 class="panel-title"><b>Sell Orders</b></h3></div>
                    <div class="panel-body" style="background-color:#2C332F;color:white;padding-bottom:20px;">
                       <table class="table sortable">
                            <tr>
                                <th>Location</th>
                                <th>Volume / Total</th>
                                <th>Min Volume</th>
                                <th>Price</th>
                            </tr>
                            {% for order in marketOrders['sell'] %}
                            <tr>
                                <td>{{order["location_id"]|getStationName}}</td>
                                <td>{{order["volume_remain"]}} / {{order["volume_total"]}}</td>
                                <td>{{order["min_volume"]}}</td>
                                <td>{{order["price"]|currency_format}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
               </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary" style="border:0px;">
                    <div class="panel-heading" style="background-color:#2C332F;color:white;padding-left:20px;padding-right:20px;padding-bottom:20px;"><h3 class="panel-title"><b>Buy Orders</b></h3></div>
                    <div class="panel-body" style="background-color:#2C332F;color:white;padding-bottom:20px;">
                        <table class="table sortable">
                            <tr>
                                <th>Location</th>
                                <th>Volume / Total</th>
                                <th>Min Volume</th>
                                <th>Price</th>
                            </tr>
                            {% for order in marketOrders['buy'] %}
                            <tr>
                                <td>{{order["location_id"]|getStationName}}</td>
                                <td>{{order["volume_remain"]}} / {{order["volume_total"]}}</td>
                                <td>{{order["min_volume"]}}</td>
                                <td>{{order["price"]|currency_format}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>
<script>
var ctx = document.getElementById("marketPriceHistory").getContext("2d");
ctx.canvas.width = 600;
ctx.canvas.height = 175;
Chart.defaults.global.defaultFontColor = 'white';
var marketPriceHistory = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in dateSet %}"{{item}}",{% endfor %}],
        datasets: [{% for region in marketHistory %}
            {
                label: "{{region}}",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "{{colorSetting[region]}}",
                borderColor: "{{colorSetting[region]}}",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "{{colorSetting[region]}}",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "{{colorSetting[region]}}",
                pointHoverBorderColor: "{{colorSetting[region]}}",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [{% for data in marketHistory[region] %} {{data.avgPrice}}, {% endfor %}],
                spanGaps: false,
            },{% endfor %}
        ],
    },
    options: {
        tooltips : {
            mode : 'index',
        }
    },
});
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.marketPriceHistory-select2').select2();
    });
</script>
{% endblock %}