{% extends "template.html" %}
{% block title %}Options{% endblock %}

{% block content %}
<div class="panel" style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px;border:0px;">
    <div class="panel-heading" style="background-color:#181919;color:white;">
        <h3 class="panel-title"><b>EME Options</b></h3>
    </div>
    <div class="panel-body" style="background-color:#2C332F;color:white;">
        <ul class="nav nav-pills">
            {% if page=="buysell" %}
            <li role="presentation" class="active"><a>Buy/Sell Defaults</a></li>
            {% else %}
            <li role="presentation"><a href="/options?page=buysell">Buy/Sell Defaults</a></li>
            {% endif %}

            {% if page=="manufacturing" %}
            <li role="presentation" class="active"><a>Manufacturing Settings</a></li>
            {% else %}
            <li role="presentation"><a href="/options?page=manufacturing">Manufacturing Settings</a></li>
            {% endif %}


            <!--{% if page=="messages" %}
            <li role="presentation" class="active"><a>Messages</a></li>
            {% else %}
            <li role="presentation"><a href="/options?page=messages">Messages</a></li>
            {% endif %}-->

        </ul>
        <br>
        {% if page=="buysell" %}
            <div>
                <form action="/options/change", method="post">
                    <input type="hidden" name="page" value="buysell">

                    <b>Market Price Calculation Location Type:</b> <input type="radio" name="marketPriceCalcLocationType" value=0 id="region" {% if currentUser.defaultPriceLocationType == 0 %} checked {% endif %}> Regional <input type="radio" name="marketPriceCalcLocationType" value=1 id="system" {% if currentUser.defaultPriceLocationType == 1 %} checked {% endif %}> Solar System<br>
                    <b>Market Price Calculation Location:</b>

                    <div id="marketPriceCalcLocationRegion" {% if currentUser.defaultPriceLocationType != 0 %} style="display:none;" {% endif %}>

                        <select name="marketPriceCalcLocationRegion" class="marketPriceCalcLocation-region-select2 form-control" style="width:250px;">
                            {% for region in regions %}
                                <option value={{region.regionID}}{% if currentUser.defaultPriceLocationID == region.regionID %} selected {% endif %}>{{region.regionName}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="marketPriceCalcLocationSystem" {% if currentUser.defaultPriceLocationType != 1 %} style="display:none;" {% endif %}>

                        <select name="marketPriceCalcLocationSystem" class="marketPriceCalcLocation-system-select2 form-control" style="width:250px;">
                            {% for system in solarSystems %}
                                <option value={{system.solarSystemID}} {% if currentUser.defaultPriceLocationID == system.solarSystemID %} selected {% endif %}>{{system.solarSystemName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <b>Market Price Calculation Order Type:</b> <input type="radio" name="marketPriceCalcOrderType" value="sell" {% if currentUser.defaultPriceCalcType == 'sell' %} checked {% endif %}> Sell <input type="radio" name="marketPriceCalcOrderType" value="buy" {% if currentUser.defaultPriceCalcType == 'buy' %} checked {% endif %}> Buy<br>
                    <b>Market Price Calculation High/Low:</b> <input type="radio" name="marketPriceCalcHighLow" value="high" {% if currentUser.defaultPriceCalcHighLow == 'high' %} checked {% endif %}> High <input type="radio" name="marketPriceCalcHighLow" value="low" {% if currentUser.defaultPriceCalcHighLow == 'low' %} checked {% endif %}> Low <br>
                    <input style="color:black;" type="submit" value="Change">

                </form>
            </div>
        {% elif page=="manufacturing" %}
            <div>
                <form action="/options/change", method="post">
                    <input type="hidden" name="page" value="manufacturing">

                    <b>Default Build Location:</b><br>
                    <select name="defaultBuildLocation" class="marketPriceCalcLocation-system-select2 form-control" style="width:250px;">
                        {% for system in solarSystems %}
                            <option value={{system.solarSystemID}} {% if currentUser.defaultBuildLocation == system.solarSystemID %} selected {% endif %}>{{system.solarSystemName}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input style="color:black;" type="submit" value="Change">
                </form>
            </div>
        {% endif %}
</div>
</div>

{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
   $('input[type="radio"]').click(function() {
       if($(this).attr('id') == 'region') {
            $('#marketPriceCalcLocationRegion').show();
            $('#marketPriceCalcLocationSystem').hide();
       }

       else {
            $('#marketPriceCalcLocationRegion').hide();
            $('#marketPriceCalcLocationSystem').show();
       }
   });
});</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.marketPriceCalcLocation-system-select2').select2();
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.marketPriceCalcLocation-region-select2').select2();
    });
</script>
{% endblock %}