{% extends "template.html" %}
{% block head %}
{% endblock %}

{% block title %}New Package{% endblock %}
{% block content %}

        <div class="row" style="margin-left:0px;margin-right:0px;">
            <div class="col-md-4">
            <div class="panel panel-default">
                <BASE HREF="http://eme3.divby0.net:52382/packages/new">
                <div class="panel-heading clearfix">
                    <h3 class="text-left">Package Details</h3>
                    <button name="action" type="submit" value="refresh" class="btn btn-primary text-right" onclick="showWaitDialog()">Refresh</button>
                    <button name="action" type="submit" value="createPackage" class="btn btn-primary text-right"  onclick="showWaitDialog()">Create New Package</button>
                </div>
                <div class="panel-body">
                <b>Blueprint:</b> <input class="form-control" type="text" placeholder="{{bp.typeID|typeIDtoTypeName}} - <small>ME: {{bp.materialEfficiency}} TE: {{bp.timeEfficiency}}" readonly>

                <b>Runs:</b> <input class="form-control" type="text" placeholder="{{builtPackage['runs']}}" readonly>

                <b>Activity Solar System:</b>
                    <input class="form-control" type="text" placeholder="{{system.solarSystemID}}" readonly>

                <br>
                <b>Usage Tax (%):</b> <input class="form-control" type="text" placeholder="{{ builtPackage['stationTax'] * 100}}" readonly>

                <b>Mineral Facility Modifier:</b>
                    <input class="form-control" type="text" placeholder="{{builtPackage['facilityMEModifier']}}" readonly>
                <p class="help-block">Ex: NPC Facilities: 1, POS Array: .98, Rapid Assembly Array: 1.05</p>
                <b>Time Facility Modifier</b>
                    <input class="form-control" type="text" placeholder="{{builtPackage['facilityTEModifier']}}" readonly>
                <b>Industry Skill:</b>
                    {% if skills['industry'] == 1 %}
                        <input type="radio" name="industrySkill" value=1 readonly checked="checked" /> I
                    {% else %}
                        <input type="radio" name="industrySkill" readonly value=1> I
                    {% endif %}
                    {% if skills['industry'] == 2 %}
                        <input type="radio" name="industrySkill" readonly value=2 checked="checked" /> II
                    {% else %}
                        <input type="radio" name="industrySkill" readonly value=2> II
                    {% endif %}
                    {% if skills['industry'] == 3 %}
                        <input type="radio" name="industrySkill" readonly value=3 checked="checked" /> III
                    {% else %}
                        <input type="radio" name="industrySkill" readonly value=3> III
                    {% endif %}
                    {% if skills['industry'] == 4 %}
                        <input type="radio" name="industrySkill" readonly value=4 checked="checked" /> IV
                    {% else %}
                        <input type="radio" name="industrySkill" readonly value=4> IV
                    {% endif %}
                    {% if skills['industry'] == 5 %}
                        <input type="radio" name="industrySkill" readonly value=5 checked="checked" /> V
                    {% else %}
                        <input type="radio" name="industrySkill" readonly value=5> V
                    {% endif %}
                <br>
                <b>Adv Industry Skill:</b>
                    {% if skills['advIndustry'] == 1 %}
                        <input type="radio" name="advIndustrySkill" readonly value=1 checked="checked" /> I
                    {% else %}
                        <input type="radio" name="advIndustrySkill" readonly value=1> I
                    {% endif %}
                    {% if skills['advIndustry'] == 2 %}
                        <input type="radio" name="advIndustrySkill" readonly value=2 checked="checked" /> II
                    {% else %}
                        <input type="radio" name="advIndustrySkill" readonly value=2> II
                    {% endif %}
                    {% if skills['advIndustry'] == 3 %}
                        <input type="radio" name="advIndustrySkill" readonly value=3 checked="checked" /> III
                    {% else %}
                        <input type="radio" name="advIndustrySkill" readonly value=3> III
                    {% endif %}
                    {% if skills['advIndustry'] == 4 %}
                        <input type="radio" name="advIndustrySkill" readonly value=4 checked="checked" /> IV
                    {% else %}
                        <input type="radio" name="advIndustrySkill" readonly value=4> IV
                    {% endif %}
                    {% if skills['advIndustry'] == 5 %}
                        <input type="radio" name="advIndustrySkill" readonly value=5 checked="checked" /> V
                    {% else %}
                        <input type="radio" name="advIndustrySkill" readonly value=5> V
                    {% endif %}
                <br>
                <b>Time Implant Modifier:</b>
                    {% if tImplantModifier == 1 %}
                        <input type="radio" name="tImplantModifier" readonly value=1 checked="checked" /> None
                    {% else %}
                        <input type="radio" name="tImplantModifier" readonly value=1> None
                    {% endif %}
                    {% if tImplantModifier == 0.99 %}
                        <input type="radio" name="tImplantModifier" readonly value=.99 checked="checked" /> BX-801 (1%)
                    {% else %}
                        <input type="radio" name="tImplantModifier" readonly value=.99> BX-801 (1%)
                    {% endif %}
                    {% if tImplantModifier == 0.98 %}
                        <input type="radio" name="tImplantModifier" readonly value=.98 checked="checked" /> BX-802 (2%)
                    {% else %}
                        <input type="radio" name="tImplantModifier" readonly value=.98> BX-802 (2%)
                    {% endif %}
                    {% if tImplantModifier == 0.96 %}
                        <input type="radio" name="tImplantModifier" readonly value=.96 checked="checked" /> BX-803 (4%)
                    {% else %}
                        <input type="radio" name="tImplantModifier" readonly value=.96> BX-803 (4%)
                    {% endif %}
                    </div>
                </div>
            </div>


    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading"><H3>BP Info</H3></div>
            <div class="panel-body">
                <TABLE class="table table-bordered">

                    <TR>
                        <TD class="active"><b>Result</b></TD><TD> <img src="https://image.eveonline.com/Type/{{builtPackage['products'][0]['typeID']}}_32.png"> {{ builtPackage['products'][0]['typeID']|typeIDtoTypeName }}</TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>Qty</b></TD> <TD>{{ builtPackage['products'][0]['quantity']}}</TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>ME:</b></TD> {% if builtPackage['me'] == 10 %} <TD class="success"> {% elif builtPackage['me'] == 0 %}<TD class="danger"> {% else %}<TD class="warning">{% endif %}{{builtPackage['me']}}</TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>TE:</b></TD> {% if builtPackage['te'] == 20 %} <TD class="success"> {% elif builtPackage['te'] == 0 %}<TD class="danger"> {% else %}<TD class="warning">{% endif %}{{builtPackage['te']}}</TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>Time (D:H:M:S)</b></TD> <TD>{{builtPackage['buildTime']|hms_format}}</TD>
                    </TR>
                </TABLE>
            </div>
        </div>
    </div>

    <div class="col-md-2">
         <div class="panel panel-default">
             <div class="panel-heading"><H3>System Activity Information</H3></div>
             <div class="panel-body">
                 <TABLE class="table table-bordered">
                    <TR>
                        <TD class="active"><b>System Name:</b></TD> <TD>{{ builtPackage['systemID'] | systemIDtoSystemName }}</TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>System Index:</b></TD> <TD>{{ builtPackage['systemIndex'] }}</TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>Usage Tax:</b></TD> <TD> {{ builtPackage['stationTax'] * 100}}% </TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>Activity Fees:</b></TD> <TD>{{ builtPackage['totalFees']|currency_format }}</TD>
                    </TR>
             </TABLE>
             </div>
         </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading"><H3>Cost/Price Analysis</H3></div>
            <div class="panel-body">
                <TABLE class="table table-bordered">
                    <TR>
                        <TD class="active"><b>Component Cost</b></TD> <TD> {{builtPackage['totalMaterialCost']|currency_format}} </TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>Job Fees:</b></TD> <TD>{{ builtPackage['totalFees']|currency_format }}</TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>Total Cost:</b></TD> <TD> {{ (builtPackage['totalFees'] + builtPackage['totalMaterialCost'])|currency_format }} </TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>Produced Item Price:</b></TD> <TD>{{ builtPackage['totalSalePrice']|currency_format }}</TD>
                    </TR>
                    <TR>
                        <TD class="active"><b>Profit:</b></TD> {% if builtPackage['expectedProfit'] < 0 %}<TD class="danger"> {% else %}<TD class="success">{% endif %} {{builtPackage['expectedProfit']|currency_format}}</TD>
                    </TR>
                </TABLE>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><H3>Material Requirements</H3></div>
            <div class="panel-body">
                <TABLE class="table table-bordered table-hover">
                <TR>
                    <TH>Icon</TH>
                    <TH>Component</TH>
                    <TH>Qty</TH>
                    <TH>Price</TH>
                    <TH>Cost</TH>
                </TR>
                {% for material in builtPackage['materials'] %}
                <TR>
                    <TD><img src="https://image.eveonline.com/Type/{{material['typeID']}}_32.png"></TD>
                    <TD>{{material['typeID']|typeIDtoTypeName}}</TD>
                    <TD>{{material['quantity']}}</TD>
                    <TD>{{material['pricePer']|currency_format}}</TD>
                    <TD>{{material['requirementCost']|currency_format}}</TD>
                </TR>
                {% endfor %}
            </TABLE>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><H3>Material Requirement Breakdown Chart</H3></div>
            <div class="panel-body">
                <canvas id="MaterialBreakdown" width="400" height="350"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><H3>Material Cost Breakdown Chart</H3></div>
            <div class="panel-body">
                <canvas id="CostBreakdown" width="400" height="350"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>

<script>
    var ctx = document.getElementById("MaterialBreakdown");
    var MaterialBreakdownChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for material in builtPackage['materials'] %}"{{material['typeID']|typeIDtoTypeName}}",{% endfor %}],
            datasets: [{
                data: [{% for material in builtPackage['materials'] %}{{material['quantity']}},{% endfor %}],
                backgroundColor: [{% for material in builtPackage['materials'] %} "{{generateRandomColor()}}", {% endfor %}],
                borderWidth: 0
            }]
        },
    });
</script>

<script>
    var ctx = document.getElementById("CostBreakdown");
    var CostBreakdownChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for material in builtPackage['materials'] %}"{{material['typeID']|typeIDtoTypeName}}",{% endfor %}],
            datasets: [{
                data: [{% for material in builtPackage['materials'] %}{{material['requirementCost']}},{% endfor %}],
                backgroundColor: [{% for material in builtPackage['materials'] %} "{{generateRandomColor()}}", {% endfor %}],
                borderWidth: 0
            }]
        },
    });
</script>

{% endblock %}