{% extends "template.html" %}
{% block head %}
<script src="/static/js/countdown.js"></script>
{% endblock %}

{% block content %}
    <div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px;">
        <div class="tableBlock">
        <table class="table">
        	<thead>
        	<tr class="tableheading">
            	<th>
            		Item
                </th>
                <th></th>
                <th>
                	Profit
                </th>
                <th>
                	Status
                </th>
              </tr>
          	</thead>
            <tbody>
            {% for item in packageList %}
            <tr class="tabledataentry" data-href="content-{{item.id}}">
                <td>
                    <div style="position:relative;top:-8px">
                        <img src="https://image.eveonline.com/Type/{{item.typeIDProduced}}_64.png" width="38">
                    </div>
                </td>
                <td><b>{{item.typeIDProduced|typeIDtoTypeName}} x {{item.runs}}</b></td>
                <td><span class="{% if (((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount) - (item.sysBuildCosts + item.componentCost + (item.sysBuildCosts * item.tax) + (((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount)* item.salesTax))) > 0 %} positiveAmount {% else %} negativeAmount {% endif %}">
                  <b>{{(((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount) - (item.sysBuildCosts + item.componentCost + (item.sysBuildCosts * item.tax) + (((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount)* item.salesTax)))|currency_format}}</b>
              </span></td>
              <td style="text-align:center;">
                    {% if item.stage == 0 %}
                        <div style="color:yellow;">
                            <img src="/static/img/Icons/UI/WindowIcons/question.png" width="24px"><b>Planning</b>
                        </div>
                    {% elif item.stage == 1 %}
                        <div style="color:yellow;">
                            <img src="/static/img/Icons/UI/WindowIcons/attention.png" width="24px"><b>Awaiting Manufacturing</b>
                        </div>
                    {% elif item.stage == 2 %}
                        <div style="color:yellow;">
                            <img src="/static/img/Icons/UI/WindowIcons/aggression.png" width="24px"><b>Awaiting Job Link</b>
                        </div>
                    {% elif item.stage == 3 and timeRemaining[item.packageID] != None%}
                        {% if timeRemaining[item.packageID] < 1%}
                            <div style="color:yellow;">
                                <img src="/static/img/Icons/UI/WindowIcons/mischold.png" width="24px"><b>Manufacturing Completed</b>
                            </div>
                        {% else %}
                            <div style="color:green;">
                                <img src="/static/img/Icons/UI/WindowIcons/industry.png" width="24px"><b>Build in Progress</b>
                            </div>
                        {% endif %}
                    {% elif item.stage == 4 %}
                        <div style="color:yellow;">
                            <img src="/static/img/Icons/UI/WindowIcons/market.png" width="24px"><b>Awaiting Market Link</b>
                        </div>
                    {% elif item.stage == 5 %}
                        {% if marketData[item.packageID]['totalRemaining'] > 0 %}
                            <div style="color:green;">
                                <img src="/static/img/Icons/UI/WindowIcons/market.png" width="24px"><b>On Market</b>
                            </div>
                        {% else %}
                            <div style="color:yellow;">
                                <img src="/static/img/Icons/UI/WindowIcons/wallet.png" width="24px"><b>Sold</b>
                            </div>
                        {% endif %}
                    {% endif %}
              <br>
                <!--<div class="progress">
              	    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
    			        0%
                    </div>
			    </div>-->
                <div class="tabledataentry-time" style="position:relative;height:5px;width:50%;margin:0 auto;top:-15px;">
                    {% if item.stage == 3 %}
                        {% if timeRemaining.has_key(item.packageID) %}
                            {% if timeRemaining[item.packageID] < 1 %}

                            {% else %}
                                <script>
                                    var myCountdown1 = new Countdown({
                                        time:{{timeRemaining[item.packageID]}},
                                        rangeHi:"day",
                                        rangeLo:"second",
                                        hideLine:true,
                                        hideLabels:true,
                                        height:17,
                                        width:250,
                                        numbers	: {
                                            color	: "#FFFFFF",
                                            bkgd	: "#365D8B",
                                            rounded	: 0.15,	// percentage of size
                                            shadow	: {
                                               x : 0,	// x offset (in pixels)
                                               y : 3,	// y offset (in pixels)
                                               s : 4,	// spread
                                               c : "#000000",	// color
                                               a : 0.4	// alpha
                                            }
                                        },
                                    });
                                </script>
                            {% endif %}
                        {% endif %}
                    {% elif item.stage == 5 %}
                        {% if marketData[item.packageID]['totalRemaining'] > 0 %}
                            {{marketData[item.packageID]['totalRemaining']}} / {{marketData[item.packageID]['totalEntered']}}
                        {% endif %}
                    {% endif %}
                </div>
            </td>
            </tr>
            <div style="display:none;" id="content-{{item.id}}">

                <div class="detailsRow row" style="margin-left:10px;margin-right:10px;margin-top:10px;">
                    <div class="col-md-7">
                        <div style="float:right;" class="btn-group" role="group">
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm_{{item.packageID}}" title="Delete Package"><img src="/static/img/Icons/UI/WindowIcons/terminate.png" width="24px"></button>

                            {% if item.stage == 0 %}
                                <a href='/packages/change?packageID={{item.packageID}}&option=setToAwaitManufacture' class="btn btn-sm btn-default" title="Set to Awaiting Manufacturing"><img src="/static/img/Icons/UI/WindowIcons/industry.png" width="24px"></a>
                            {% endif %}
                            {% if item.stage == 1 or item.stage == 10 %}
                                <a href='/packages/change?packageID={{item.packageID}}&option=setToManufacturing' class="btn btn-sm btn-default" title="Set to Manufacturing"><img src="/static/img/Icons/UI/WindowIcons/contractitemexchange.png" width="24px"></a>
                            {% endif %}
                            {% if item.stage == 2 or item.stage == 3 %}
                                <a href='/packages/change?packageID={{item.packageID}}&option=linkPackage' class="btn btn-sm btn-default" title="Link to Manufacturing Jobs"><img src="/static/img/Icons/UI/WindowIcons/items.png" width="24px"></a>
                            {% endif %}
                            {% if item.stage == 3 and timeRemaining[item.packageID] < 1 %}
                                <a href='/packages/change?packageID={{item.packageID}}&option=setToSelling' class="btn btn-sm btn-default" title="Set to Selling"><img src="/static/img/Icons/UI/WindowIcons/market.png" width="24px"></a>
                            {% endif %}
                            {% if item.stage == 4 %}
                                <a href='/packages/change?packageID={{item.packageID}}&option=linkMarket' class="btn btn-sm btn-default" title="Link to Market Item"><img src="/static/img/Icons/UI/WindowIcons/marketdeliveries.png" width="24px"></a>
                            {% endif %}
                            {% if item.stage == 5 and marketData[item.packageID]['totalRemaining'] == 0 %}
                                <a href='/packages/change?packageID={{item.packageID}}&option=completePackage' class="btn btn-sm btn-default" title="Move to Completed"><img src="/static/img/Icons/UI/WindowIcons/forward.png" width="24px"></a>
                            {% endif %}

                        </div>

                        <b>Package Start:</b> {{item.startDate}}<br>
                        <b>Build System:</b> {{item.sysID|systemIDtoSystemName}} <span class="label label-primary">Index</span> {{item.sysIndex}}<br>
                        <b>Runs:</b> {{item.runs}} <br>
                        <b>Started by:</b> {{item.charID|characterIDtoCharacterName}} <br>
                        <br>
                        <b>Blueprint Efficiency:</b> <span class="label label-primary">ME</span> {{item.materialEfficiency}}  <span class="label label-success">TE</span> {{item.timeEfficiency}}<br>
                        <b>Facility Efficiency:</b> <span class="label label-primary">ME Modifier</span> {{item.facilityMEModifier}}  <span class="label label-success">TE Modifier</span> {{item.facilityTEModifier}}<br>

                    </div>
                    <div class="col-md-5">

                        <b>Cost Per Unit:</b> <b class="negativeAmount"> {{((item.sysBuildCosts + item.componentCost)/(item.producedAmount))|currency_format}}</b><br>
                        <b>Cost Total for Runs:</b> <b class="negativeAmount">{{((item.sysBuildCosts + item.componentCost))|currency_format}}</b><br><br>
                        <b>Market Value Per Unit</b><br>
                        <span class="label label-info">Original</span> {{(item.producedItemPrice/item.producedAmount)|currency_format}}<br>
                        <span class="label label-primary">Current</span> {{(item.typeIDProduced|getCurrentPricesFilter)|currency_format}}<br>
                        <span class="label
                        {% if (item.typeIDProduced|getCurrentPricesFilter - (item.producedItemPrice/item.producedAmount)) > 0 %}
                        label-success
                        {% else %}
                        label-danger
                        {% endif %}
                        ">Change</span> <span class="{% if (item.typeIDProduced|getCurrentPricesFilter - (item.producedItemPrice/item.producedAmount)) > 0 %} positiveAmount {% else %} negativeAmount {% endif %}">{{(item.typeIDProduced|getCurrentPricesFilter - (item.producedItemPrice/item.producedAmount))|currency_format}}</span>
                    </div>
                </div>
                <hr>
                <div class="detailsRow row" style="margin-left:10px;margin-right:10px;margin-top:5px;">
                    <div class="col-md-7">
                        <b>Material Requirements</b><br><br>
                        {% for material in packageMaterialsList[item.packageID] %}
                        <div class="row">
                            <div class="col-sm-1" style="position:relative;top:-5px;"><img src="https://image.eveonline.com/Type/{{material.typeID}}_32.png"></div>
                            <div class="col-sm-4"><b>{{material.typeID|typeIDtoTypeName}}</b></div>
                            <div style="text-align:right;" class="col-sm-2">{{material.quantity}}</div>
                            <div style="text-align:right;" class="col-sm-2"><b>{{material.ppu|currency_format}}</b></div>
                            <div style="text-align:right;" class="col-sm-3 negativeAmount"><b>{{(material.quantity*material.ppu)|currency_format}}</b></div>
                        </div>
                        {% endfor %}
                        <hr>
                        <div class="row">
                            <div class="col-sm-9"><b>Total Cost</b></div>
                            <div style="text-align:right;" class="col-sm-3 negativeAmount"><b>{{item.componentCost|currency_format}}</b></div>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <b>Result</b><br>
                        <br><br>
                        <div class="row">
                            <div class="col-sm-2" style="position:relative;left:-10px;top:-28px;">
                                <img src="https://image.eveonline.com/Type/{{item.typeIDProduced}}_64.png">
                            </div>
                            <div class="col-sm-5"><b>{{item.typeIDProduced|typeIDtoTypeName}}</b></div>
                            <div class="col-sm-2"><b>{{item.producedAmount}}</b></div>
                            <div class="col-sm-3 rightAlign positiveAmount"><b>{{((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount)|currency_format}} </b></div>
                        </div>
                        <b>Taxes</b>
                        <br><br>
                        <div class="row">
                            <div class="col-sm-9"><img width=32 src="/static/img/Icons/items/7_64_4.png"> <b>System Index Costs</b></div>
                            <div class="col-sm-3 rightAlign negativeAmount"><b>{{item.sysBuildCosts|currency_format}}</b></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9"><img width=32 src="/static/img/Icons/items/27_64_13.png"> <b>Station Tax</b></div>
                            <div class="col-sm-3 rightAlign negativeAmount"><b>{{(item.sysBuildCosts * item.tax)|currency_format}}</b></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9"><img width=32 src="/static/img/Icons/items/30_64_13.png"> <b>Sales Tax ({{item.salesTax*100}}%)</b></div>
                            <div class="col-sm-3 rightAlign negativeAmount"><b>{{(((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount)* item.salesTax)|currency_format}}</b></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-9"><b>Total Taxes/Fees</b></div>
                            <div class="col-sm-3 rightAlign negativeAmount"><b>{{(item.sysBuildCosts + (item.sysBuildCosts * item.tax)+(((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount)* item.salesTax))|currency_format}}</b></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-9"><b>Original Profit</b></div>
                            <div class="col-sm-3 rightAlign
                             {% if ((item.producedItemPrice) - (item.sysBuildCosts + item.componentCost + (item.sysBuildCosts * item.tax))) > 0 %}
                             positiveAmount
                             {% else %}
                             negativeAmount
                             {% endif %}">
                                <b>{{((item.producedItemPrice) - (item.sysBuildCosts + item.componentCost + (item.sysBuildCosts * item.tax) + (item.producedItemPrice*item.salesTax)))|currency_format}}</b></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9"><b>Current Profit</b></div>
                            <div class="col-sm-3 rightAlign
                             {% if (((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount) - (item.sysBuildCosts + item.componentCost + (item.sysBuildCosts * item.tax))) > 0 %}
                             positiveAmount
                             {% else %}
                             negativeAmount
                             {% endif %}">
                                <b>{{(((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount) - (item.sysBuildCosts + item.componentCost + (item.sysBuildCosts * item.tax) + (((item.typeIDProduced|getCurrentPricesFilter) * item.producedAmount)* item.salesTax)))|currency_format}}</b></div>
                        </div>
                    </div>
                    <br>
                </div>
                <hr>
                <div class="row detailsRow" style="margin-left:25px;margin-right:20px;margin-top:5px;">
                    <div><b>Linked Manufacturing Jobs</b></div>
                    <br>
                    <div>
                        {% for job in item.linkedJobs %}
                            <div class="row" style="margin-top:5px;">
                                <b>
                                    <div class="col-sm-1" style="position:relative;top:-2px;"><img src="https://image.eveonline.com/Type/{{jobsList[job].blueprintTypeID}}_32.png" height="24"></div>
                                    <div class="col-sm-3">{{jobsList[job].facilityID|getStationName}}</div>
                                    <div class="col-sm-1">{{jobsList[job].runs}}</div>
                                    <div class="col-sm-1">
                                        {% if jobsList[job].status == 1 %}
                                            <span class="label label-primary">Active</span>
                                        {% elif jobsList[job].status == 2 %}
                                            <span class="label label-warning">Paused</span>
                                        {% elif jobsList[job].status == 3 %}
                                            <span class="label label-success">Ready</span>
                                        {% elif jobsList[job].status == 101 %}
                                            <span class="label label-success">Delivered</span>
                                        {% elif jobsList[job].status == 102 %}
                                            <span class="label label-danger">Cancelled</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">{{jobsList[job].startDate}}</div>
                                    <div class="col-sm-2">{{jobsList[job].endDate}}</div>
                                    <div class="col-sm-1">{{(jobsList[job].endDate|getTimeRemaining)|hms_format}}</div>
                                    <div class="col-sm-1"><a href='/packages/change?packageID={{item.packageID}}&jobID={{jobsList[job].jobID}}&option=deletePackageLink' style="color:red;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
                                </b>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
            <div class="modal fade" id="confirm_{{item.packageID}}" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete this package?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a href="/packages/delete?packageID={{item.packageID}}" class="btn btn-danger">Delete Package</a></button>
                      </div>
                    </div>
                  </div>
              </div>
            {% endfor %}
            </tbody>
          </table>
            <hr>
            <div class="row" style="color:white; margin-left:60px;">
                <div class="col-md-3"><b>Total ISK Investment:</b></div><div class="col-md-3 negativeAmount"><b>{{totalCost|currency_format}}</b></div><div class="col-md-3"><b>Total Current Profit:</b></div><div class="col-md-3 {% if totalCurrentProfit > 0 %} positiveAmount {% else %} negativeAmount {% endif %}"><b>{{totalCurrentProfit|currency_format}}</b></div>

       </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function () {

    $("tbody tr").click(function () {
        if ($('tr#' + $(this).data("href")).is(":visible")) {
            $('tr#' + $(this).data("href")).remove();
        } else {
            $(this).closest('tr').after('<tr id="' + $(this).data("href") + '"><td colspan="4">' + $('#' + $(this).data("href")).html() + '</td></tr>');
        }
    });

});
</script>
{% endblock %}