{% extends "template.html" %}
{% block content %}



<div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px;border:0px;">
    <div class="panel" style="border:0px;">
        <div class="panel-heading" style="background-color:#181919;color:white;">
            <h3 class="panel-title"><b>Shopping List</b></h3>
        </div>
        <div class="panel-body" style="background-color:#2C332F;color:white;">
            <small>Only Materials for Packages Awaiting Manufacturing will Appear Here</small><br>
            <button class="btn btn-default" data-toggle="modal" data-target="#shoppingListCopy"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span>Copy to Clipboard</button>
            <br><br>
            <table class="table table-hover">
                <tr>
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>m3 Needed</th>
                    <th>Cost(ea)</th>
                    <th>Total</th>
                </tr>
                {% for item in shoppingList %}
                    <tr>
                        <td><img src="https://image.eveonline.com/Type/{{item}}_32.png"> {{item|typeIDtoTypeName}}</td>
                        <td>{{shoppingList[item]}}</td>
                        <td>{{m3Usage[item]}}</td>
                        <td>{{(item|getCurrentPricesFilter)|currency_format}}</td>
                        <td>{{(shoppingList[item] * item|getCurrentPricesFilter)|currency_format}}</td>
                    </tr>
                {% endfor %}
                    <td></td><td></td><td>{{m3Total|currency_format}}</td><td></td><td>{{costTotal|currency_format}}</td>
                </table>
        </div>
        <div class="modal fade" id="shoppingListCopy" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Copy Shopping List</h4>
                      </div>
                      <div class="modal-body">
                          Click on the Text Box and Press Control-C to Copy to the Clipboard <br>
                      <textarea class="form-control" rows="4" onclick="this.focus();this.select()" readonly="readonly">
                        {% for item in shoppingList %}
                            {{item|typeIDtoTypeName}} {{shoppingList[item]}}
                        {% endfor %}
                      </textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                      </div>
                    </div>
                  </div>
          </div>
        <div id="copyData" style="display:none">
            {% for item in shoppingList %}
            {{item|typeIDtoTypeName}} {{shoppingList[item]}}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

