<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/page.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/css/chosen.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <![endif]-->

    {% block head %}
    <title>EME3 - {% block title %}{% endblock %}</title>
    {% endblock %}

</head>
    <body>
        {% block navbar %}
        <div style="width:75%;margin:0 auto;width:50%;min-width:645px;margin-top:30px;">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand active" href="/">EME3 α</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if sessionData.has_key('auth_user') %}
                  <ul class="nav navbar-nav">
                    <!--<li class><a href="#" disabled="disabled">Dashboard <span class="sr-only">(current)</span></a></li>-->
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Packages <span class="caret"></span></a>
                          <ul class="dropdown-menu active">
                            <li><a href="/packages/list" class="active" onclick="showWaitDialog()"><img src="/static/img/Icons/UI/WindowIcons/corpdeliveries.png" height="24"> View Open Packages</a></li>
                            <li><a href="/packages/new" class="active" onclick="showWaitDialog()"><img src="/static/img/Icons/UI/WindowIcons/Industry.png" height="24"> Make a New Package</a></li>
                            <li><a href="/packages/shoppinglist" class="active" onclick="showWaitDialog()"><img src="/static/img/Icons/UI/WindowIcons/marketdeliveries.png" height="24"> Shopping List</a></li>
                          </ul>
                        </li>
                      <li><a href="/industryJobs/list" onclick="showWaitDialog()">Jobs <span class="sr-only">(current)</span></a></li>
                      <li><a href="/marketOrders/list" onclick="showWaitDialog()">Orders <span class="sr-only">(current)</span></a></li>
                      <li><a href="/blueprints/list" onclick="showWaitDialog()">Blueprints <span class="sr-only">(current)</span></a></li>
                      <li><a href="/market" onclick="showWaitDialog()">Markets <span class="sr-only">(current)</span></a></li>
                  </ul>
                {% endif %}
                    {% if sessionData.has_key('auth_user') == False %}
                    <div class ="nav navbar-nav navbar-right" style="position:relative;top:7px">
                        <a href="/login" role="button"><img src="/static/img/EVE_SSO_Login_Buttons_Large_Black.png" height="38px"></a>
                    </div>
                    {% elif sessionData.has_key('auth_user') %}
                    <ul class ="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="{{sessionData['auth_user']['portrait']['32x32']['href']}}">  <b>{{sessionData['auth_user']['name']}}</b><span class="caret"></span></a>
                            <ul class="dropdown-menu active">
                                <li><a href="/options" class="active"><img src="/static/img/Icons/UI/WindowIcons/Settings.png" height="24"> Options</a></li>
                                <!--<li><a href="#" class="active"><img src="/static/img/Icons/UI/WindowIcons/member.png" height="24"> API Keys</a></li>
                                <li><a href="#" class="active"><img src="/static/img/Icons/UI/WindowIcons/wallet.png" height="24"> Payments</a></li>-->
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout" class="active"><img src="/static/img/Icons/UI/WindowIcons/terminate.png" height="24"> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}

                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            </div>
        {% endblock %}

    <div id="content">{% block content %}{% endblock %}
        <div id="alertMenu" class="alert alert-info" role="alert" style="display:none;position:absolute;top:50px;width:30%;margin: 0 auto;left:0; right:0;">
            <div style="text-align:center;"><img src="/static/img/spinner.gif"> <b>Please Wait! The server hamsters are processing data, calculating prices, and checking requirements.</b></div>
        </div>
    </div>

    <!-- <div id="footer" style="position:fixed;bottom:0;width:100%;height:55px">
        <div class="well">
            {% block footer %}
            If you find this web app useful, I accept ISK donations to my character Deamos.  Thanks! <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Copyright 2016 by <a class="footer" href="http://divby0.net/">Dave Lockwood</a>.
            {% endblock %}
        </div>
    </div> -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/chosen.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
    <script>
        function showWaitDialog()
            {
            document.getElementById('alertMenu').style.display = "block";
            }
    </script>
    {% block script %}
    {% endblock %}
  </body>
</body>
</html>